### Compile Directory ###
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS Directory ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA Directory ###
.idea
*.iws
*.iml
*.ipr

### NetBeans Directory ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS Directory ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes